<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Home</title>
</head>
<body>
	<div align="center">
	    <br /> <br />
		<a th:href="mostcompanies">Most Companies Table</a><br /> <br /> 
		<a th:href="mostcompaniespiechart">Most Companies Pie Chart</a><br /> <br /> 
		<a th:href="mosttitles">Most Titles Table</a><br /> <br /> 
		<a th:href="mosttitlesbarchart">Most Titles Bar Chart</a><br /> <br />
		<a th:href="mostareas">Most Areas Table</a><br /> <br /> 
		<a th:href="mostareasbarchart">Most Areas Bar Chart</a><br /> <br />
		<a th:href="get_skill">Most Skills Table</a><br /> <br />
		<a th:href="kmeansclustering">Kmeans Clustering</a><br /> <br />
	</div>
</body>
</html>